.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vancouver-image {
  object-fit: cover;
  width: 100%;
  object-position: 100% 45%;
}

.vancouver-image-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 98%;
}

.location-text-container {
  margin-right: 2em;
  margin-top: 2em;
  align-items: center;
}

.located-in-text {
  color: #504f4f;
  margin-left: 1em;
}

.maple-leaf-icon {
  width: 2.2em;
}

.we-do-business-text {
  background-color: #5457a2;
  float: right;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 5em;
  margin-top: 1em;
  width: 70%;
  line-height: 2em;
}

/******** MEDIA QUERIES ********/
@media only screen and (max-width: 500px) {
  .vancouver-image {
    height: 38em;
  }

  .vancouver-image-overlay {
    height: 37.5em;
  }

  .located-in-text {
    font-size: 1.6em;
  }

  .we-do-business-text {
    font-size: 0.9em;
  }

  .location-text-container {
    display: block;
  }

  .maple-leaf-icon {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 500px) {
  .vancouver-image {
    height: 24em;
  }

  .vancouver-image-overlay {
    height: 23em;
  }

  .located-in-text {
    font-size: 1.6em;
  }

  .we-do-business-text {
    font-size: 0.9em;
  }

  .location-text-container {
    display: block;
  }

  .maple-leaf-icon {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 750px) {
  .vancouver-image {
    height: 24em;
  }

  .vancouver-image-overlay {
    height: 23em;
  }

  .located-in-text {
    font-size: 1.6em;
  }

  .we-do-business-text {
    font-size: 0.9em;
  }

  .location-text-container {
    display: flex;
  }

  .maple-leaf-icon {
    margin-left: 0.5em;
  }
}

@media only screen and (min-width: 850px) {
  .vancouver-image {
    height: 26em;
  }

  .vancouver-image-overlay {
    height: 25em;
  }

  .located-in-text {
    font-size: 1.6em;
  }

  .we-do-business-text {
    font-size: 1em;
  }

  .location-text-container {
    display: flex;
  }

  .maple-leaf-icon {
    margin-left: 0.5em;
  }
}

@media only screen and (min-width: 950px) {
  .vancouver-image {
    height: 28em;
  }

  .vancouver-image-overlay {
    height: 27em;
  }

  .located-in-text {
    font-size: 1.6em;
  }

  .we-do-business-text {
    font-size: 1.1em;
  }

  .location-text-container {
    display: flex;
  }

  .maple-leaf-icon {
    margin-left: 0.5em;
  }
}

@media only screen and (min-width: 1100px) {
  .vancouver-image {
    height: 30em;
  }

  .vancouver-image-overlay {
    height: 28.5em;
  }

  .located-in-text {
    font-size: 1.7em;
  }

  .we-do-business-text {
    font-size: 1.2em;
  }

  .location-text-container {
    display: flex;
  }

  .maple-leaf-icon {
    margin-left: 0.5em;
  }
}
