.nav-bar-background {
  width: 100vw;
  background-color: #5457a2;
  position: relative;
}

.nav-bar-logo-container {
  margin-right: 4em;
}

.nav-bar-logo {
  width: 7.5em;
  height: 100%;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

.nav-bar-background-cut-out-circle {
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.nav-bar-background-cut-out-rect {
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.nav-bar-titles-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav-bar-title {
  color: #1e203f;
  position: relative;
  display: inline-block;
  padding-bottom: 0.2em;
}

.nav-bar-title::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: #ffd4b4;
  transform-origin: bottom left;
  transition: all 0.2s ease-in-out 0s;
}

.nav-bar-title:hover {
  color: #ffd4b4;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.nav-bar-title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.nav-bar-line-separator {
  margin-top: 0.2em;
  width: 100%;
  height: 0.2em;
  background-color: #ffd4b4;
}

/******** MEDIA QUERIES ********/

@media only screen and (max-width: 500px) {
  .nav-bar-background {
    height: 5em;
  }

  .nav-bar-titles-container {
    margin-left: 0em;
  }

  .nav-bar-logo {
    left: -0.9em;
  }

  .nav-bar-background-cut-out-circle {
    clip-path: circle(2.5em at 4em 2.5em);
    height: 5em;
    left: -1em;
  }

  .nav-bar-background-cut-out-rect {
    clip: rect(0, 4em, 7em, 0);
    height: 5em;
    left: -1em;
  }

  .nav-bar-menu-icon {
    width: 3.5em;
    height: 3.5em;
    padding: 0.4em;
    z-index: 200;
    border: solid 0.2em #5457a2;
    background-color: #5457a2;
    border-radius: 100%;
    box-shadow: 0 0 0.1em #23265f;
  }

  .nav-bar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 1em;
    color: #504f4f;
  }
}

@media only screen and (min-width: 500px) {
  .nav-bar-background {
    height: 5em;
  }

  .nav-bar-titles-container {
    margin-left: 0em;
  }

  .nav-bar-logo {
    left: -0.9em;
  }

  .nav-bar-background-cut-out-circle {
    clip-path: circle(2.5em at 4em 2.5em);
    height: 5em;
    left: -1em;
  }

  .nav-bar-background-cut-out-rect {
    clip: rect(0, 4em, 7em, 0);
    height: 5em;
    left: -1em;
  }

  .nav-bar-menu-icon {
    width: 3.5em;
    height: 3.5em;
    padding: 0.4em;
    z-index: 200;
    border: solid 0.2em #5457a2;
    background-color: #5457a2;
    border-radius: 100%;
    box-shadow: 0 0 0.1em #23265f;
  }

  .nav-bar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 1em;
    color: #504f4f;
  }
}

@media only screen and (min-width: 750px) {
  .nav-bar-title {
    font-size: 0.8em;
  }

  .nav-bar-background {
    height: 3em;
  }

  .nav-bar-titles-container {
    margin-left: 5em;
  }

  .nav-bar-logo {
    left: -1em;
  }

  .nav-bar-background-cut-out-circle {
    clip-path: circle(1.5em at 3em 1.5em);
    height: 3em;
    left: unset;
  }

  .nav-bar-background-cut-out-rect {
    clip: rect(0, 3em, 3.5em, 0);
    height: 3em;
    left: unset;
  }
}

@media only screen and (min-width: 850px) {
  .nav-bar-title {
    font-size: 1em;
  }

  .nav-bar-background {
    height: 4em;
  }

  .nav-bar-titles-container {
    margin-left: 6em;
  }

  .nav-bar-logo {
    left: 0em;
  }

  .nav-bar-background-cut-out-circle {
    clip-path: circle(2em at 4em 2em);
    height: 4em;
    left: unset;
  }

  .nav-bar-background-cut-out-rect {
    clip: rect(0, 4em, 5em, 0);
    height: 4.1em;
    left: unset;
  }
}

@media only screen and (min-width: 950px) {
  .nav-bar-title {
    font-size: 1.3em;
  }

  .nav-bar-background {
    height: 5em;
  }

  .nav-bar-titles-container {
    margin-left: 7em;
  }

  .nav-bar-logo {
    left: 0.5em;
  }

  .nav-bar-background-cut-out-circle {
    clip-path: circle(2.5em at 4.5em 2.5em);
    height: 5em;
    left: unset;
  }

  .nav-bar-background-cut-out-rect {
    clip: rect(0, 4.5em, 5.5em, 0);
    height: 5.1em;
    left: unset;
  }
}

@media only screen and (min-width: 1100px) {
  .nav-bar-title {
    font-size: 1.5em;
  }

  .nav-bar-background {
    height: 6em;
  }

  .nav-bar-titles-container {
    margin-left: 8em;
  }

  .nav-bar-logo {
    left: 1em;
  }

  .nav-bar-background-cut-out-circle {
    clip-path: circle(3em at 5em 3em);
    height: 6em;
    left: unset;
  }

  .nav-bar-background-cut-out-rect {
    clip: rect(0, 5em, 6em, 0);
    height: 6.1em;
    left: unset;
  }
}

/* menu styles */
.css-1qqhaef {
  font-size: 2em;
}

.css-593qcw {
  z-index: 100 !important;
}
