.product-cover-img {
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  box-shadow: #e6e6e6 0 0 0.5em;
}

.products-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-container {
  transition: 0.2s ease-in-out;
}

.product-container:hover {
  cursor: pointer;
  transform: scale(0.99);
}

.product-container:hover .product-cover-img {
  filter: brightness(0.5);
}

.product-name-overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 1.8em;

  transition: 0.2s ease-in-out;
}

.product-container:hover .product-name-overlay {
  visibility: visible;
  opacity: 1;
}

/******** MEDIA QUERIES ********/

@media only screen and (max-width: 500px) {
  .product-cover-img {
    width: 10em;
  }

  .product-container {
    margin: 0.7em;
  }
}

@media only screen and (min-width: 500px) {
  .product-cover-img {
    width: 13em;
  }

  .product-container {
    margin: 1em;
  }
}

@media only screen and (min-width: 750px) {
  .product-cover-img {
    width: 13em;
  }

  .product-container {
    margin: 1em;
  }
}

@media only screen and (min-width: 850px) {
  .product-cover-img {
    width: 15em;
  }

  .product-container {
    margin: 1.2em;
  }
}

@media only screen and (min-width: 950px) {
  .product-cover-img {
    width: 17em;
  }

  .product-container {
    margin: 1.2em;
  }
}

@media only screen and (min-width: 1100px) {
  .product-cover-img {
    width: 20em;
  }

  .product-container {
    margin: 1.5em;
  }
}
