body {
  font-family: "GlacialIndifference-Bold";
  letter-spacing: 0.1em;
  font-size: 1em;
  margin: 0;
}

@font-face {
  font-family: "GlacialIndifference-Regular";
  src: local("GlacialIndifference-Regular"),
    url("./fonts/GlacialIndifference-Regular.otf");
}

@font-face {
  font-family: "GlacialIndifference-Bold";
  src: local("GlacialIndifference-Bold"),
    url("./fonts/GlacialIndifference-Bold.otf");
}

@font-face {
  font-family: "GlacialIndifference-Italic";
  src: local("GlacialIndifference-Italic"),
    url("./fonts/GlacialIndifference-Italic.otf");
}
