body {
  font-family: "GlacialIndifference-Bold" !important;
  letter-spacing: 0.15em !important;
  font-size: 1em !important;
  margin: 0 !important;

  overflow-x: hidden !important;
}

@font-face {
  font-family: "GlacialIndifference-Regular";
  src: local("GlacialIndifference-Regular"),
    url("./fonts/GlacialIndifference-Regular.otf");
}

@font-face {
  font-family: "GlacialIndifference-Bold";
  src: local("GlacialIndifference-Bold"),
    url("./fonts/GlacialIndifference-Bold.otf");
}

@font-face {
  font-family: "GlacialIndifference-Italic";
  src: local("GlacialIndifference-Italic"),
    url("./fonts/GlacialIndifference-Italic.otf");
}

/******** MEDIA QUERIES ********/

@media only screen and (max-width: 500px) {
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 750px) {
}

@media only screen and (min-width: 850px) {
}

@media only screen and (min-width: 950px) {
}

@media only screen and (min-width: 1100px) {
}
